<a href="https://colab.research.google.com/github/gkarthick510/Hicounselor_project/blob/main/Analyzing_Banking_Trends_Customer_Transactions_and_Regional_Impact.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1

 Task 1

Check the null values

The function check_null_values() reads a DataFrame from read_csv  function which returns data in the user_nodes csv file and the it needs to  calculates the sum of null (missing) values for each column in the DataFrame.

It then returns a Series containing the count of null values for each column in the DataFrame. This provides insights into the presence and extent of missing data in the dataset after duplicates have been dropped.


 Task 2

Find the Duplicate Values

Here, We need to check for duplicate values in a dataset  for each column.

Finally, the counts of duplicated values are returned as a integer. This information can be useful in identifying duplicate data and deciding on appropriate strategies to deal with them, such as imputation or deletion.

 Task 3

Remove the Duplicate Values

The function drop_duplicates() reads a DataFrame from a CSV file, removes any duplicate rows in the DataFrame, and returns the cleaned DataFrame without duplicates.

 Task 4

Data Cleaning:

The provided function, data_cleaning(), aims to enhance the quality and structure of a given DataFrame. It starts by removing duplicate rows to ensure data consistency. Subsequently, the function eliminates the columns "has_loan" and "is_act" from the DataFrame, streamlining it for analysis. To improve clarity, column names are adjusted: 'id_' becomes 'consumer_id', 'area_id_' is transformed to 'region_id', 'node_id_' is changed to 'node_id', 'act_date' is renamed to 'start_date', and 'deact_date' is converted to 'end_date'. The final step involves exporting the cleaned DataFrame to a CSV file named 'user_nodes_cleaned.csv', without including the index column. Upon completion, the function returns the cleaned DataFrame, now prepared for further analysis.

 Task 5

Check the null values

The function check_null_values() reads a DataFrame from read_csv  function which returns data in the user_transactions csv file and the it needs to  calculates the sum of null (missing) values for each column in the DataFrame.

It then returns a Series containing the count of null values for each column in the DataFrame. This provides insights into the presence and extent of missing data in the dataset after duplicates have been dropped.

 Task 6

Find the Duplicate Values

Here, We need to check for duplicate values in a dataset  for each column.

Finally, the counts of duplicated values are returned as a integer. This information can be useful in identifying duplicate data and deciding on appropriate strategies to deal with them, such as imputation or deletion.

 Task 7

Remove the Duplicate Values

The function drop_duplicates() reads a DataFrame from a CSV file, removes any duplicate rows in the DataFrame, and returns the cleaned DataFrame without duplicates.

 Task 8

Data Cleaning:

The function data_cleaning() is designed to enhance a DataFrame's quality by removing specific columns and renaming others, preparing the data for analysis. Initially, duplicate rows are removed and any rows with null values are dropped. Then, the columns "has_credit_card" and "account_type" are selected for removal to streamline the dataset for analysis. The DataFrame's columns are updated by renaming 'id_' to 'consumer_id', 't_date' to 'transaction_date', 't_type' to 'transaction_type', and 't_amt' to 'transaction_amount' for improved clarity and interpretation. Once these steps are completed, the cleaned DataFrame is saved as 'user_transaction_cleaned.csv' without the index column and returned for further analysis.

 Task 9

Generate tables using the cleaned dataset:

Download the cleaned dataset by clicking on the file name from File explorer.

You must download the world_regions csv file as well as the user nodes and user transactions cleaned csv files in order to proceed. To continue with this project, you must add all three CSV files to the database.

Utilize the MySQL database information provided in ""Database Details"" to manually create the following tables for the cleaned dataset

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_nodes.csv file using pandas library and return it
    df = pd.read_csv('user_nodes.csv')
    return df


# Function to check for null (missing) values in the DataFrame
def check_null_values():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values

# Function to check for duplicate rows in the DataFrame
def check_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates =df.duplicated().sum()
    return duplicates


# Function to drop duplicate rows from the DataFrame
def drop_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    return df


def data_cleaning():

    df = drop_duplicates()

    # Step 3: Drop specified columns from the DataFrame("has_loan", "is_act")
    df=df.drop(["has_loan", "is_act"],axis=1)
    #Rename columns names id_,adfrea_id_,node_id_,act_date',deact_date to  consumer_id,region_id,node_id,start_date,end_date
    df.rename(columns={'id_' : 'consumer_id','area_id_' : 'region_id','node_id_' : 'node_id','act_date':'start_date','deact_date':'end_date'},inplace=True)

    df.to_csv('user_nodes_cleaned.csv', index=False)
    return df
data_cleaning()

      consumer_id  region_id  node_id  start_date    end_date
0               1          3        4  02-01-2020  03-01-2020
1               2          3        5  03-01-2020  17-01-2020
2               3          5        4  27-01-2020  18-02-2020
3               4          5        4  07-01-2020  19-01-2020
4               5          3        3  15-01-2020  23-01-2020
...           ...        ...      ...         ...         ...
3495          496          3        4  25-02-2020  31-12-2021
3496          497          5        4  27-05-2020  31-12-2021
3497          498          1        2  05-04-2020  31-12-2021
3498          499          5        1  03-02-2020  31-12-2021
3499          500          2        2  15-04-2020  31-12-2021

[3500 rows x 5 columns]

In [ ]:
df = pd.read_csv('user_transactions.csv')
df.head()

   id_      t_date   t_type  t_amt has_credit_card account_type
0  312  20-01-2020  deposit    485             Yes      Savings
1  376  03-01-2020  deposit    706              No      Current
2  188  13-01-2020  deposit    601              No      Savings
3  138  11-01-2020  deposit    520              No       Salary
4  373  18-01-2020  deposit    596              No       Salary

In [ ]:
def data_cleaning():
    """
    Data Cleaning Function:
    Cleans the DataFrame by dropping specified columns and renaming others.

    Returns:
    DataFrame: The cleaned DataFrame after dropping and renaming columns.
    """
    # Step 1: Get the DataFrame with duplicate rows removed and rows with null values dropped
    df = drop_duplicates()

    # Step 2: Columns to remove from the DataFrame
    #columns needs to be removed "has_credit_card" and  "account_type"
    df=df.drop(["has_credit_card","account_type"],axis=1)
    # Drop specified columns from the DataFrame

    #Rename columns id_,t_date,t_type,t_amt to consumer_id,transaction_date,transaction_type,transaction_amount
    df.rename(columns={'id_' :'consumer_id','t_date':'transaction_date','t_type':'transaction_type','t_amt':'transaction_amount'},inplace=True)

    # Step 5: Rename columns using the new column names

    df.to_csv('user_transaction_cleaned.csv', index=False)
    return df

data_cleaning()

      consumer_id transaction_date transaction_type  transaction_amount
0             312       20-01-2020          deposit                 485
1             376       03-01-2020          deposit                 706
2             188       13-01-2020          deposit                 601
3             138       11-01-2020          deposit                 520
4             373       18-01-2020          deposit                 596
...           ...              ...              ...                 ...
5863          155       10-01-2020          deposit                 712
5864          398       01-01-2020          deposit                 196
5865          255       14-01-2020          deposit                 563
5866          185       29-01-2020          deposit                 626
5867          309       13-01-2020          deposit                 995

[5868 rows x 4 columns]

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_transactions.csv file using pandas library and return it
    df = pd.read_csv('user_transactions.csv')
    return df


# Function to check for null (missing) values in the DataFrame
def check_null_values():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values

# Function to check for duplicate rows in the DataFrame
def check_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates =df.duplicated().sum()
    return duplicates


# Function to drop duplicate rows from the DataFrame
def drop_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    df.dropna(inplace=True)
    return df


def data_cleaning():
    """
    Data Cleaning Function:
    Cleans the DataFrame by dropping specified columns and renaming others.

    Returns:
    DataFrame: The cleaned DataFrame after dropping and renaming columns.
    """
    # Step 1: Get the DataFrame with duplicate rows removed and rows with null values dropped
    df = drop_duplicates()

    # Step 2: Columns to remove from the DataFrame
    #columns needs to be removed "has_credit_card" and  "account_type"
    df=df.drop(["has_credit_card","account_type"],axis=1)
    # Drop specified columns from the DataFrame

    #Rename columns id_,t_date,t_type,t_amt to consumer_id,transaction_date,transaction_type,transaction_amount
    df.rename(columns={'id_' :'consumer_id','t_date':'transaction_date','t_type':'transaction_type','t_amt':'transaction_amount'},inplace=True)

    # Step 5: Rename columns using the new column names

    df.to_csv('user_transaction_cleaned.csv', index=False)
    return df

# Module 2

Task 1

Write an SQL query to solve the given problem statement.
 List all regions along with the number of users assigned to each region

In [ ]:
SELECT region_name,count(distinct user_nodes.consumer_id) as number FROM world_regions
left join user_nodes on user_nodes.region_id=world_regions.region_id
group by region_name
order by region_name

Task 2

Write an SQL query to solve the given problem statement.
Find the user who made the largest deposit amount and the transaction type for that deposit.

In [ ]:
SELECT user_nodes.consumer_id,user_transaction.transaction_type,
(select max(transaction_amount ) from user_transaction )FROM `user_transaction`
INNER join user_nodes on user_nodes.consumer_id=user_transaction.consumer_id
group by user_nodes.consumer_id,user_transaction.transaction_type
limit 1

Task 3

Write an SQL query to solve the given problem statement.
Calculate the total amount deposited for each user in the "Europe" region.

In [ ]:
select user_nodes.consumer_id,sum(user_transaction.transaction_amount) from user_transaction
join user_nodes on user_nodes.consumer_id=user_transaction.consumer_id
join world_regions on world_regions.region_id=user_nodes.region_id
where world_regions.region_name='Europe'and user_transaction.transaction_type='deposit'
group by user_nodes.consumer_id

Task 4

Write an SQL query to solve the given problem statement.
Calculate the total number of transactions made by each user in the "United States" region.

In [ ]:
SELECT user_nodes.consumer_id,count(*) FROM `user_nodes`
inner join world_regions on user_nodes.region_id=world_regions.region_id
inner join user_transaction on user_transaction.consumer_id=user_nodes.consumer_id
where world_regions.region_name='United States'
GROUP by user_nodes.consumer_id

Task 5

Write an SQL query to solve the given problem statement.
Calculate the total number of users who made more than 5 transactions.

In [ ]:
SELECT consumer_id,count(*) FROM user_transaction
group by consumer_id having count(*)>5

 Task 6

Write an SQL query to solve the given problem statement.
Find the regions with the highest number of nodes assigned to them.

In [ ]:
SELECT world_regions.region_name, count(user_nodes.node_id) FROM `user_nodes`
join world_regions on world_regions.region_id=user_nodes.region_id
group by world_regions.region_name

 Task 7

Write an SQL query to solve the given problem statement.
Find the user who made the largest deposit amount in the "Australia" region.

In [ ]:
select user_nodes.consumer_id,
(select transaction_amount from user_transaction where transaction_amount='998' limit 1)
from user_transaction
join user_nodes on user_nodes.consumer_id=user_transaction.consumer_id
join world_regions on world_regions.region_id=user_nodes.region_id
where world_regions.region_name='Australia'
group by user_nodes.consumer_id
limit 1

 Task 8

Write an SQL query to solve the given problem statement.
Calculate the total amount deposited by each user in each region.

In [ ]:
SELECT user_transaction.consumer_id, world_regions.region_name,sum(user_transaction.transaction_amount) from user_transaction  join user_nodes on user_nodes.consumer_id=user_transaction.consumer_id join world_regions on world_regions.region_id=user_nodes.region_id
where user_transaction.transaction_type='deposit'
group by user_transaction.consumer_id,world_regions.region_name

 Task 9

Write an SQL query to solve the given problem statement.
Retrieve the total number of transactions for each region

In [ ]:
select world_regions.region_name,count(user_transaction.consumer_id) from world_regions
join user_nodes on user_nodes.region_id=world_regions.region_id
join user_transaction on user_transaction.consumer_id=user_nodes.consumer_id
group by world_regions.region_name

 Task 10

Write an SQL query to solve the given problem statement.
Write a query to find the total deposit amount for each region (region_name) in the user_transaction table. Consider only those transactions where the consumer_id is associated with a valid region in the user_nodes table.

In [ ]:
select world_regions.region_name,sum(user_transaction.transaction_amount) from world_regions
inner join user_nodes on user_nodes.region_id=world_regions.region_id
inner join user_transaction on user_transaction.consumer_id=user_nodes.consumer_id
where user_transaction.transaction_type='deposit'
group by world_regions.region_name

 Task 11

Write an SQL query to solve the given problem statement.
Write a query to find the top 5 consumers who have made the highest total transaction amount (sum of all their deposit transactions) in the user_transaction table.

In [ ]:
SELECT consumer_id,sum(transaction_amount) FROM `user_transaction`
where transaction_type='deposit'
group by consumer_id
order by sum(transaction_amount) desc
limit 5

 Task 12

Write an SQL query to solve the given problem statement.
How many consumers are allocated to each region?

In [ ]:
SELECT world_regions.region_id,world_regions.region_name,count(distinct user_nodes.consumer_id) FROM world_regions
join user_nodes on user_nodes.region_id=world_regions.region_id
group by world_regions.region_name
order by world_regions.region_name desc

 Task 13

Write an SQL query to solve the given problem statement.
What is the unique count and total amount for each transaction type?

In [ ]:
SELECT transaction_type,count(distinct consumer_id),sum(transaction_amount) FROM `user_transaction`
group by transaction_type

 Task 14

Write an SQL query to solve the given problem statement.
What are the average deposit counts and amounts for each transaction type ('deposit') across all customers, grouped by transaction type?

In [ ]:
WITH cte_deposit AS (
	SELECT
		consumer_id,transaction_type,
		COUNT(consumer_id) AS deposit_count,
		sum(transaction_amount) AS deposit_amount
	FROM user_transaction
	WHERE transaction_type = 'deposit'
	GROUP BY consumer_id,transaction_type
)
SELECT
	'deposit' as transaction_type,
	Round(AVG(deposit_count)) AS avg_deposit_count,
	Round(AVG(deposit_amount)) AS avg_deposit_amount
FROM cte_deposit;

 Task 15

Write an SQL query to solve the given problem statement.
How many transactions were made by consumers from each region?

In [ ]:
SELECT world_regions.region_name,count(*) FROM user_nodes
join world_regions on world_regions.region_id=user_nodes.region_id
join user_transaction on user_transaction.consumer_id=user_nodes.consumer_id
group by world_regions.region_name